<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>KhawaDawa  Records</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    
    
    <nav class="navbar navbar-dark bg-dark">
      <h1 class="text-white bg-dark">M & J Khawa Dawa Management System</h1>
    </nav>
    <br>
    <div>
      <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Employee ID</th>
            <th>Item Name</th>
            <th>Person Will Feed</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in KhawaDawa %}
          <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.item_name }}</td>
            <td>{{ employee.person_will_feed }}</td>
            <td>{{ employee.program_date }}</td>
            <td>
              <a href="/api/update/{{ employee.id }}"
                ><span class="glyphicon glyphicon-pencil">Edit</span></a
              >
              <a href="/api/delete/{{ employee.id }}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <center>
      <a href="/api/emp" class="btn btn-primary">Add New Record</a>
    </center>
 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {%if messages%} {%for m in messages%}
    <script>
        swal.fire({
            "title": "Thank You!",
            "text": " {{m}} ",
            "icon": "success",

        });
        console.log("inside message")
    </script>

    {%endfor%} {%endif%}
  </body>
</html>
